<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182756942989-n78v72n7podgdm75790g18ecbu96s15m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182756942989-n78v72n7podgdm75790g18ecbu96s15m</string>
	<key>API_KEY</key>
	<string>AIzaSyDILkxMV4SJaBZTulMaDWrRdHUfTWcg1uY</string>
	<key>GCM_SENDER_ID</key>
	<string>182756942989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.erik.mandatory2</string>
	<key>PROJECT_ID</key>
	<string>mandatory2-48c46</string>
	<key>STORAGE_BUCKET</key>
	<string>mandatory2-48c46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182756942989:ios:bc4f3d2ad3b97d5d0baec4</string>
</dict>
</plist>